*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* @media (max-width: 1190px) { 
    .imgs
    {
    width: max-content;
    height: max-content;
    }
} */

.top
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 2rem 0rem;
    background-color: #F3EED9;
    border: 2px solid black;
    border-bottom: none;
}
@media only screen and (max-width: 1190px) {
    .top
{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 1.5rem 0rem;
    background-color: #F3EED9;
}
}

.top #small_h h4
{
    padding-top: 6rem;
    color: #824936;
}
@media only screen and (max-width: 1190px) {
    
.top #small_h h4
{
    padding-top: 2rem;
}
}

.top #big_h h1
{
    padding-top: 1.5rem;
    padding-bottom: 6rem;
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    color: #824936;
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 1190px) {
    .top #big_h h1
    {
    padding: 1rem 1.2rem 1.5rem 1.2rem;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    color: #824936;
    width: 100%;
    margin: auto;
    }
}

.mid_white
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem;
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
}

@media only screen and (max-width: 1190px) {
    .mid_white
    {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0rem;
    }    
}

.mid_white .hdr
{
    text-align: center;
    color: #824936;
    padding-bottom: 4rem;
    font-size: 1.5rem;
}
@media only screen and (max-width: 780px) {
    .mid_white .hdr
    {
    text-align: center;
    color: #824936;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    }
}

.mid_white .para
{
    /* border: 2px solid black; */
    display: flex;
    color: #824936;
    padding: 2rem 4rem 4rem 4rem;
}

@media only screen and (max-width: 780px) {
    .mid_white .para
    {
    display: flex;
    flex-direction: column;
    color: #824936;
    padding: 0rem 1.3rem 1.2rem 1.3rem;
    }
}

.mid_white .para #p1
{
    font-size: 1.3rem;
    padding-right: 4rem;
    padding-bottom: 2.5rem;
}
@media only screen and (max-width: 780px) {
    .mid_white .para #p1
{
    font-size: 1.3rem;
    padding: 1.2rem 1.2rem;
    text-align: center;
}
}

.mid_white .para #p2
{
    font-size: 1.3rem;
    padding-left: 4rem;
    padding-bottom: 2.5rem;
}
@media only screen and (max-width: 780px) {
    .mid_white .para #p2
{
    font-size: 1.3rem;
    padding: 1.2rem 1.2rem;
    text-align: center;
}
}

.mid_dark
{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 4rem;
    color: #F3EED9;
    background-color: #222C2A;
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
}
@media only screen and (max-width: 1190px) {
    .mid_dark
    {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 1.2rem;
    color: #F3EED9;
    background-color: #222C2A;
    }
}

.mid_dark .mid_content
{
    /* border: 2px solid blue; */
    padding: 0rem 3rem;
}
@media only screen and (max-width: 1190px) {
    .mid_dark .mid_content
    {
    padding: 0rem 1.2rem;
    }
}

.mid_dark .mid_content h3
{
    padding-bottom: 2rem;
    font-size: 1.7rem;
}

.mid_dark .mid_content p
{
    font-size: 1.15rem;
}
@media only screen and (max-width: 1190px) {
    .mid_dark .mid_content p
    {
    font-size: 1.15rem;
    padding-bottom: 1.5rem;
    }
}


.mid_light
{
    width: 80%;
    margin: auto;
    display: flex;
    padding: 4rem;
    color: #F3EED9;
    background-color: #824936;
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
}
@media only screen and (max-width: 1190px) {
    .mid_light
    {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: auto;
    padding: 1.2rem;
    color: #F3EED9;
    background-color: #222C2A;
    }
}


.mid_light .mid_content
{
    padding: 0rem 3rem;
}
@media only screen and (max-width: 1190px) {
    .mid_light .mid_content
    {
    padding: 0rem 1.2rem;
    }
}


.mid_light .mid_content h3
{
    padding-bottom: 2rem;
    font-size: 1.7rem;
}

.mid_light .mid_content p
{
    font-size: 1.15rem;
}
@media only screen and (max-width: 1190px) {
    .mid_light .mid_content p
    {
    font-size: 1.15rem;
    padding-bottom: 1.5rem;
    }
}

footer
{
    text-align: center;
    background-color:#66BFBF;
    width: 80%;
    margin: auto;
    padding: 0.5rem 0rem;
    border: 2px solid black;
    border-top: none;
}
@media only screen and (max-width: 1190px) {
    footer
    {
    text-align: center;
    background-color:#66BFBF;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0rem;
    }
}


footer a
{
    text-decoration: none;
    padding: 0rem 1rem;
    color: #11999E;
}

footer a:hover
{
    text-decoration: none;
    color: #566868;
}

footer p
{
    color: #EAF6F6;
    padding: 0.5rem 0rem;
}